@charset "UTF-8";
/* StrathTutor Default CSS */

/* default elements - to be overriden if required */
html, body {
	margin: 0;
	padding: 0;
	background-color:#FFE;
	}
	
body {
	font-family:Verdana, Geneva, sans-serif;
	font-size:0.9em;
	color:#000;
}

img {
  max-width: 100%;
}
/* ------------------------------------------*/	
	
/* header specific --------------------------*/
div.header{
	padding: 0;
	margin: 0;
	background-color:#FFA;
}

div.header_Title{
	font-size:1.5em;
}

div.header_Description{
	font-size:1em;
	font-style:italic;
}
/* ------------------------------------------*/

/* user panel specific ----------------------*/
a.panelOption{
	/* button background */
	display:block;
	box-shadow:#000;
	width:20em;
	/* default background / compatibility */
	background-color:#090;
	/* browser specifics */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#090', endColorstr='#0C0'); /* IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#090), to(#0C0)); /* webkit */
	background: -moz-linear-gradient(top,  #090,  #0C0); /* firefox */
	
	/* button text */
	text-align:center;
	padding: 1em 0;
	text-shadow:0 1px 0 #000;
	text-decoration:none;
	color:#FFF;
	
	/* button border */
	border:1px solid #000;
	border-radius: 0.5em;
	/* browser specific settings */
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

a.panelOption:hover{
	/* default background / compatibility */
	background-color:#0A0;
	/* browser specifics */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0A0', endColorstr='#0F0'); /* IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#0A0), to(#0F0)); /* webkit */
	background: -moz-linear-gradient(top,  #0A0,  #0F0); /* firefox */
}


/* ------------------------------------------*/

/* table specific  --------------------------*/
table.2col{
	background-color:transparent #093;
	table-layout:fixed;
	border:thin;
	padding:1em;
}

/* footer specific --------------------------*/
footer {
	font-size:0.8em;
	font-stretch:expanded;
	text-align:center;
	background:#CCC;
}

/* ------------------------------------------*/