@charset "UTF-8";
/* StrathTutor Default CSS */

/* default elements - to be overriden if required */
html, body {
	margin: 0;
	padding: 0;
	background:#CCC;
	}
	
body {
	font-family:Verdana, Geneva, sans-serif;
	font-size:0.85em;
	color:#000;
	background-color:#FEFEFE;
	/* stop from scaling down too far */
	min-width:300px;
	height: 100%;
}

#page_Container {
	min-height: 100%;
	position: relative;
	background-color: #CCC;
}

#page_Header{
	background-color: #FFA;
	
}

#page_Body{
	padding-bottom: 5em; 
	min-height: 100%;
	height: 100%;
	background-color: #FFF;
}

#page_Footer{
	position: absolute;
	bottom: 0;
	background: #CCC;
	height: 5em;
	max-height: 5em;
	width: 100%;
	
	margin-top:2em;
	font-size:0.7em;
	text-align:center;
	background:#CCC;
	
}

/* prevent images from breaking layout */
img {
  max-width: 100%;
}
/* ------------------------------------------*/	

/* Various device support -------------------*/
@media screen and (min-width:801px){
	/* for desktops etc */
  ul.header_Nav li a{
	padding: 8px 15px;
	border-right: 1px solid #AAA;
	border-left: 1px solid #AAA;
  }
  
  ul.message_Nav li a{
	padding: 2px 15px;
	border-right: 1px solid #FFF;
  }
  
  #page_Header{
    max-width:95%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	}
  
  #page_Body{
    max-width:95%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	}
  
  #page_navBar{
	max-width: 100%; 
	width: 100%; 
	background-color: rgb(51, 51, 51); 
	}
	
  ul.header_Nav li{
    width: 95%;
    max-width: 95%;
    margin-left:auto;
    margin-right:auto;
  }
		
}

@media screen and (min-width:480px) and (max-width:800px) {
  /* For landscape smartphones, tablets
  */
  
  ul.header_Nav li a{
	padding: 8px 15px;
	border-right: 1px solid #FFF;
  }
  
  ul.message_Nav li a{
	padding: 2px 15px;
	border-right: 1px solid #FFF;
  }
  
  div.panelContainer{
	width: 22em;
  }
}

@media screen and (max-width:479px) {
  /* For portrait smartphones 
  
  	Current differences:
	- Vertical navigation (vs horizontal)
	- Centre aligned user panel options
  */
  ul.header_Nav {
	width:100%;
	max-width:100%;
  }
  
  ul.header_Nav li a{
	color: #FFF;
	display:block;
	height:2em;
	line-height: 2em;
	text-indent: 1em;
	padding: 8px 0;
	text-decoration:none;
	max-width:100%;
	border-bottom: 1px solid #FFF;
	width:100%;
  }
  
  ul.message_Nav {
	width:100%;
	max-width:100%;
  }
  
  ul.message_Nav li a{
	color:#090;
	display:block;
	height:2em;
	line-height: 2em;
	text-indent: 1em;
	padding: 2px 0;
	text-decoration:none;
	max-width:100%;
	border-bottom: 1px solid #FFF;
	width:100%;
  }
  
  div.navigation{
	max-width: 100%;
	width: 100%;
  }
  
  div.panelContainer{
	width:22em;
  }
  
  a.panelOption{
	alignment-baseline:central;   
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1em;
	/* disable float for small screens */
	clear:both;
  }
 
}
/* ------------------------------------------*/	

	
/* header specific --------------------------*/
div.header{
	padding: 0;
	margin: 0;
	background-color:#FFA;
}

div.header_Title a{
	font-size:2em;
	color: #000;
	text-decoration: none;
}

div.header_Description{
	font-size:1em;
	font-style:italic;
}

div.EUconsent{
	background-color: #C00;
	width: 100%;
	max-width: 100%;
	clear: both;
	float: left;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#C00'); /* IE 5 - 9*/
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#C00)); /* legacy webkit */
	background: -moz-linear-gradient(top,  #333,  #C00); /* legacy firefox */
	background: linear-gradient(to bottom, #333,  #C00); /* standards compliant CSS3 */
}

div.errorNotice{
	background-color: #C00;
	width: 100%;
	max-width: 100%;
	clear: both;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#C00'); /* IE 5 - 9*/
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#C00)); /* legacy webkit */
	background: -moz-linear-gradient(top,  #333,  #C00); /* legacy firefox */
	background: linear-gradient(to bottom, #333,  #C00); /* standards compliant CSS3 */

}

div.errorText{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.9em;
	font-style: italic;
	font-weight: bold;
	color: #FFF;
	
}

div.successNotice{
	background-color: #0C0;
	width: 100%;
	max-width: 100%;
	clear: both;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#0C0'); /* IE 5 - 9*/
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#0C0)); /* legacy webkit */
	background: -moz-linear-gradient(top,  #333,  #0C0); /* legacy firefox */
	background: linear-gradient(to bottom, #333,  #0C0); /* standards compliant CSS3 */

}

div.successText{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.9em;
	font-style: italic;
	font-weight: bold;
	color: #FFF;
	
}

div.EUconsentText{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.9em;
	font-style: italic;
	font-weight: bold;
	color: #FFF;
	
}

div.navigation{
	max-width: 100%;
	width: 100%;
}

/* navigation bar ------------------- */
ul.header_Nav{
	width: 100%;
	max-width: 100%;
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #111; 
	border-top: 1px solid #111;
	background-color:#333;
}

ul.header_Nav li a{
	max-width: 100%;
	float: left;
	display: block;
	
	color:#FFF;
}

ul.header_Nav li.logout a{
	max-width: 100%;
	/* default / fallback */
	background-color:#C00;
	/* browser specifics */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C00', endColorstr='#333'); /* IE 5-9*/
	background: -webkit-gradient(linear, left top, left bottom, from(#C00), to(#333)); /* legacy webkit */
	background: -moz-linear-gradient(top,  #C00,  #333); /* legacy firefox */
	background: linear-gradient(to bottom, #C00,  #333); /* standards compliant CSS3 */

}

ul.header_Nav li a:hover{
	max-width: 100%;
	background-color:#777;
}
ul.header_Nav li.logout a:hover{
	max-width: 100%;
	background-color:#F00;
	/* browser specifics */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F00', endColorstr='#333'); /* IE 5-9*/
	background: -webkit-gradient(linear, left top, left bottom, from(#F00), to(#333)); /* legacy webkit */
	background: -moz-linear-gradient(top,  #F00,  #333); /* legacy firefox */
	background: linear-gradient(to bottom, #F00,  #333); /* standards compliant CSS3 */

}

ul.header_Nav li a{
	max-width: 100%;
	text-decoration: none;
	color: #FFF;
}
/* ------------------------------------------*/

table.create_lesson{
	float:left;
	left:10px;
}

/* messaging */
div.messageMenu{
	padding: 0;
	margin: 0;
	background-color:#060;
}

ul.message_Nav{
	width: 100%;
	max-width: 100%;
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #111; 
	border-top: 1px solid #111;
	background-color:#090;
}

ul.message_Nav li a{
	max-width: 100%;
	float: left;
	display: block;
	color:#FFF;
}

ul.message_Nav li a:hover{
	max-width: 100%;
	background-color:#0C0;
}

ul.message_Nav li a{
	max-width: 100%;
	text-decoration: none;
	color: #FFF;
}

/* user panel specific ----------------------*/
a.panelOption{
	/* button background */
	display: block;
	box-shadow: #000;
	width: 20em;
	float: left;
	margin:1em;
	/* default background / compatibility */
	background-color:#090;
	/* browser specifics */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#090', endColorstr='#0C0'); /* IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#090), to(#0C0)); /* webkit */
	background: -moz-linear-gradient(top,  #090,  #0C0); /* firefox */
	background: linear-gradient(to bottom, #090,  #0C0); /* standards compliant CSS3 */
	
	/* button text */
	text-align:center;
	padding: 1em 0;
	text-shadow:0 1px 5px #000;
	text-decoration:none;
	color:#FFF;
	
	/* button border */
	border:1px solid #000;
	border-radius: 0.8em;
	/* browser specific settings */
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

a.panelOption:hover{
	/* default background / compatibility */
	background-color:#0A0;
	/* browser specifics */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0A0', endColorstr='#0F0'); /* IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#0A0), to(#0F0)); /* webkit */
	background: -moz-linear-gradient(top,  #0A0,  #0F0); /* firefox */
	background: linear-gradient(to bottom, #0A0,  #0F0); /* standards compliant CSS3 */
}

div.panelContainer{
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	overflow: hidden;
	
}

span.clear{
	clear: left;
	display: block;
}

/* ------------------------------------------*/

/* table specific  --------------------------*/
table.twoCol{
	border-color: #000;
	table-layout: fixed;
	border: medium solid;
	margin-left: auto;
	margin-right: auto;
}

div.tableContainer{
	padding: 0.5em;
	overflow:auto;
}

td{
	padding: 1em;
}

td.odd{
	font-weight: bold;
}

tr.even{
	background-color: #FFD;
}
tr.odd{
	background-color: #FF9;
}

tr.even:hover{
	background-color: #FFF;
}

tr.odd:hover{
	background-color: #FFE;
}

table.create_user{
	display:inline;
}

/* ------------------------------------------*/
/* Login ------------------------------------*/

table.login{
	margin-left:auto;
	margin-right:auto;
}

/* Messaging---------------------------------*/
td.styledText{
	resize: none;
	width:10em;
	height:4em;
}

input.maxText{
	width: 100%;
	height: 100%;
	resize: none;
}

/* footer specific --------------------------*/
footer {
	clear:both;
	margin-top:2em;
	font-size:0.7em;
	text-align:center;
	background:#CCC;
	height: 5em;
	position:absolute;
	bottom: 0px;
}

/* ------------------------------------------*/
