@charset "UTF-8";
/* StrathTutor Default CSS */

/* default elements - to be overriden if required */
html {
	margin: 0;
	padding: 0;
	background-color:#FFE;
	}
	
body {
	font-family:Verdana, Geneva, sans-serif;
	font-size:0.9em;
	color:#000;
}
/* ------------------------------------------*/	
	
/* header specific --------------------------*/
div.header{
	padding: 0;
	margin: 0;
	background-color:#FFA;
}

div.header_Title{
	font-size:1.5em;
}

div.header_Description{
	font-size:1em;
	font-style:italic;
}
/* ------------------------------------------*/

/* user panel specific ----------------------*/
div.panelOption{
	display:block;
	box-shadow:#000;
	width:200px;
	background-color:#090;
	text-align:center;
	padding: 1em 0;
	
	border:1px solid #000;
	border-radius: 5px;
	/* browser specific settings */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


/* ------------------------------------------*/